In [1]:
import pandas as pd
import csv
import os
header=["Category","Description","Amount"]
with open("daily_expense.csv",mode="w",newline="") as file:
    writer=csv.DictWriter(file,fieldnames=header)
    writer.writeheader()
    print("""    Housing
    Food
    Transportation
    Health
    Entertainment
    Savings
    Clothing and Personal Care""")
    print("Enter category name:")
    cat=input()

    Housing
    Food
    Transportation
    Health
    Entertainment
    Savings
    Clothing and Personal Care
Enter category name:
Housing

In [9]:
import pandas as pd
import csv
import os
from tabulate import tabulate
FILE_NAME="daily_expense.csv"
def load_expenses():
    if os.path.exists(FILE_NAME):
        return pd.read_csv(FILE_NAME)
    else:
        return pd.DataFrame(columns=["Date","Category","Amount","Description"])
def add_expense():
    df=load_expenses()
    date=input("Enter date (YYYY-MM-DD) or enter for today")
    if not date:
        date=datetime.datetime.today().strftime("%Y-%m-%d")
    category=input("Enter Category (Food,Transportation,Health,...)")
    amount=float(input("Enter Amount"))
    description=input("Enter Description")
    data={
        "Date":[date],
        "Category":[category],
        "Amount":[amount],
        "Description":[description]
    }
    details=pd.DataFrame(data)
    df=pd.concat([df,details],ignore_index=True)
    df.to_csv(FILE_NAME,index=False)
    print("Expenses added Sucessfully!!")
    
def view_expenses():
    df=load_expenses()
    if df.empty:
        print("No expenses recoreded.!")
        return
    print(tabulate(df,headers=list(df.columns)))

In [10]:
import matplotlib.pyplot as plt
def daily_summary():
    df=load_expenses()
    if df.empty:
        print("No Expenses recorded yet!")
        return
    date=input("Enter date: or press Enter for today")
    if not date:
        date=datetime.datetime.today().strftime("%Y-%m-%d")
    data=df[df["Date"]==date]
    total=data["Amount"].sum()
    if data.empty:
        print(f"No data recorded for {date}")
        return
    else:
        print("DAILY SUMMARY")
        print(data.to_string(index=False))
        print(f"Total Amount spent {total}")
        sum=data.groupby("Category")["Amount"].sum()
        print(sum)
        plt.figure(fig)
        
def monthly_summary():
    df=load_expenses()
    if df.empty:
        print("No Expenses recorded yet!")
        return
    df["Month"]=pd.to_datetime(df["Date"]).dt.to_period("M")
    monthly_sum=df.groupby("Month")["Amount"].sum()
    print(monthly_sum)

In [11]:
import pandas as pd
import csv
import os
import datetime
while True:
    print("\t\t\tExpense tracker Menu")
    print("1:Add Expense")
    print("2:View All Expenses")
    print("3:View Daily Expense Summary")
    print("4:View Monthly Summary")
    print("5:Exit")
    choice=input()
    if choice == '1':
            add_expense()
    elif choice == '2':
        view_expenses()
    elif choice == '3':
        daily_summary()
    elif choice == '4':
        monthly_summary()
    elif choice == '5':
        print("Exiting... Goodbye!")
        break
    else:
        print("Invalid choice. Please try again.")

			Expense tracker Menu
1:Add Expense
2:View All Expenses
3:View Daily Expense Summary
4:View Monthly Summary
5:Exit
2
    Date        Category      Amount  Description
--  ----------  ----------  --------  -------------
 0  2024-11-27  Food              30  Snacks
 1  2024-11-27  Transport        110  Petrol
 2  2024-11-14  Food             250  Lunch
			Expense tracker Menu
1:Add Expense
2:View All Expenses
3:View Daily Expense Summary
4:View Monthly Summary
5:Exit
5
Exiting... Goodbye!

In [10]:
date=int(input())
category="Food"
amount=300
description="kdjfdf fkj"
details=pd.DataFrame([[date,category,amount,description]],columns=["Date","Category","Amount","Description"])

5

In [11]:
details

   Date Category  Amount Description
0     5     Food     300  kdjfdf fkj

In [17]:
import datetime
date=datetime.datetime.today().strftime("%Y-%m-%d")

In [18]:
date

'2024-11-26'

In [19]:
print(details.to_string(index=False))

 Date Category  Amount Description
    5     Food     300  kdjfdf fkj